---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pykmip-server-conf
data:
  server.conf: |
    [server]
    hostname=0.0.0.0
    port=5696
    certificate_path=/etc/certs/tls.crt
    key_path=/etc/certs/tls.key
    ca_path=/etc/certs/ca.crt
    auth_suite=Basic
    policy_path=/etc/pykmip-policies/
    enable_tls_client_auth=True
    tls_cipher_suites=TLS_RSA_WITH_AES_128_CBC_SHA256 TLS_RSA_WITH_AES_256_CBC_SHA256 TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA384
    logging_level=DEBUG
    database_path=/tmp/pykmip.sqlite
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pykmip-policy
data:
  policy.json: |
    {"example":{"preset":{"CERTIFICATE":{"LOCATE":"ALLOW_ALL","CHECK":"ALLOW_ALL","GET":"ALLOW_ALL","GET_ATTRIBUTES":"ALLOW_ALL","GET_ATTRIBUTE_LIST":"ALLOW_ALL","ADD_ATTRIBUTE":"ALLOW_OWNER","MODIFY_ATTRIBUTE":"ALLOW_OWNER","DELETE_ATTRIBUTE":"ALLOW_OWNER","OBTAIN_LEASE":"ALLOW_ALL","ACTIVATE":"ALLOW_OWNER","REVOKE":"ALLOW_OWNER","DESTROY":"ALLOW_OWNER","ARCHIVE":"ALLOW_OWNER","RECOVER":"ALLOW_OWNER"},"SYMMETRIC_KEY":{"REKEY":"ALLOW_OWNER","REKEY_KEY_PAIR":"ALLOW_OWNER","DERIVE_KEY":"ALLOW_OWNER","LOCATE":"ALLOW_OWNER","CHECK":"ALLOW_OWNER","GET":"ALLOW_OWNER","GET_ATTRIBUTES":"ALLOW_OWNER","GET_ATTRIBUTE_LIST":"ALLOW_OWNER","ADD_ATTRIBUTE":"ALLOW_OWNER","MODIFY_ATTRIBUTE":"ALLOW_OWNER","DELETE_ATTRIBUTE":"ALLOW_OWNER","OBTAIN_LEASE":"ALLOW_OWNER","GET_USAGE_ALLOCATION":"ALLOW_OWNER","ACTIVATE":"ALLOW_OWNER","REVOKE":"ALLOW_OWNER","DESTROY":"ALLOW_OWNER","ARCHIVE":"ALLOW_OWNER","RECOVER":"ALLOW_OWNER"},"PUBLIC_KEY":{"LOCATE":"ALLOW_ALL","CHECK":"ALLOW_ALL","GET":"ALLOW_ALL","GET_ATTRIBUTES":"ALLOW_ALL","GET_ATTRIBUTE_LIST":"ALLOW_ALL","ADD_ATTRIBUTE":"ALLOW_OWNER","MODIFY_ATTRIBUTE":"ALLOW_OWNER","DELETE_ATTRIBUTE":"ALLOW_OWNER","OBTAIN_LEASE":"ALLOW_ALL","ACTIVATE":"ALLOW_OWNER","REVOKE":"ALLOW_OWNER","DESTROY":"ALLOW_OWNER","ARCHIVE":"ALLOW_OWNER","RECOVER":"ALLOW_OWNER"},"PRIVATE_KEY":{"REKEY":"ALLOW_OWNER","REKEY_KEY_PAIR":"ALLOW_OWNER","DERIVE_KEY":"ALLOW_OWNER","LOCATE":"ALLOW_OWNER","CHECK":"ALLOW_OWNER","GET":"ALLOW_OWNER","GET_ATTRIBUTES":"ALLOW_OWNER","GET_ATTRIBUTE_LIST":"ALLOW_OWNER","ADD_ATTRIBUTE":"ALLOW_OWNER","MODIFY_ATTRIBUTE":"ALLOW_OWNER","DELETE_ATTRIBUTE":"ALLOW_OWNER","OBTAIN_LEASE":"ALLOW_OWNER","GET_USAGE_ALLOCATION":"ALLOW_OWNER","ACTIVATE":"ALLOW_OWNER","REVOKE":"ALLOW_OWNER","DESTROY":"ALLOW_OWNER","ARCHIVE":"ALLOW_OWNER","RECOVER":"ALLOW_OWNER"},"SPLIT_KEY":{"REKEY":"ALLOW_OWNER","REKEY_KEY_PAIR":"ALLOW_OWNER","DERIVE_KEY":"ALLOW_OWNER","LOCATE":"ALLOW_OWNER","CHECK":"ALLOW_OWNER","GET":"ALLOW_OWNER","GET_ATTRIBUTES":"ALLOW_OWNER","GET_ATTRIBUTE_LIST":"ALLOW_OWNER","ADD_ATTRIBUTE":"ALLOW_OWNER","MODIFY_ATTRIBUTE":"ALLOW_OWNER","DELETE_ATTRIBUTE":"ALLOW_OWNER","OBTAIN_LEASE":"ALLOW_OWNER","GET_USAGE_ALLOCATION":"ALLOW_OWNER","ACTIVATE":"ALLOW_OWNER","REVOKE":"ALLOW_OWNER","DESTROY":"ALLOW_OWNER","ARCHIVE":"ALLOW_OWNER","RECOVER":"ALLOW_OWNER"},"TEMPLATE":{"LOCATE":"ALLOW_OWNER","GET":"ALLOW_OWNER","GET_ATTRIBUTES":"ALLOW_OWNER","GET_ATTRIBUTE_LIST":"ALLOW_OWNER","ADD_ATTRIBUTE":"ALLOW_OWNER","MODIFY_ATTRIBUTE":"ALLOW_OWNER","DELETE_ATTRIBUTE":"ALLOW_OWNER","DESTROY":"ALLOW_OWNER"},"SECRET_DATA":{"REKEY":"ALLOW_OWNER","REKEY_KEY_PAIR":"ALLOW_OWNER","DERIVE_KEY":"ALLOW_OWNER","LOCATE":"ALLOW_OWNER","CHECK":"ALLOW_OWNER","GET":"ALLOW_OWNER","GET_ATTRIBUTES":"ALLOW_OWNER","GET_ATTRIBUTE_LIST":"ALLOW_OWNER","ADD_ATTRIBUTE":"ALLOW_OWNER","MODIFY_ATTRIBUTE":"ALLOW_OWNER","DELETE_ATTRIBUTE":"ALLOW_OWNER","OBTAIN_LEASE":"ALLOW_OWNER","GET_USAGE_ALLOCATION":"ALLOW_OWNER","ACTIVATE":"ALLOW_OWNER","REVOKE":"ALLOW_OWNER","DESTROY":"ALLOW_OWNER","ARCHIVE":"ALLOW_OWNER","RECOVER":"ALLOW_OWNER"},"OPAQUE_DATA":{"REKEY":"ALLOW_OWNER","REKEY_KEY_PAIR":"ALLOW_OWNER","DERIVE_KEY":"ALLOW_OWNER","LOCATE":"ALLOW_OWNER","CHECK":"ALLOW_OWNER","GET":"ALLOW_OWNER","GET_ATTRIBUTES":"ALLOW_OWNER","GET_ATTRIBUTE_LIST":"ALLOW_OWNER","ADD_ATTRIBUTE":"ALLOW_OWNER","MODIFY_ATTRIBUTE":"ALLOW_OWNER","DELETE_ATTRIBUTE":"ALLOW_OWNER","OBTAIN_LEASE":"ALLOW_OWNER","GET_USAGE_ALLOCATION":"ALLOW_OWNER","ACTIVATE":"ALLOW_OWNER","REVOKE":"ALLOW_OWNER","DESTROY":"ALLOW_OWNER","ARCHIVE":"ALLOW_OWNER","RECOVER":"ALLOW_OWNER"},"PGP_KEY":{"REKEY":"ALLOW_OWNER","REKEY_KEY_PAIR":"ALLOW_OWNER","DERIVE_KEY":"ALLOW_OWNER","LOCATE":"ALLOW_OWNER","CHECK":"ALLOW_OWNER","GET":"ALLOW_OWNER","GET_ATTRIBUTES":"ALLOW_OWNER","GET_ATTRIBUTE_LIST":"ALLOW_OWNER","ADD_ATTRIBUTE":"ALLOW_OWNER","MODIFY_ATTRIBUTE":"ALLOW_OWNER","DELETE_ATTRIBUTE":"ALLOW_OWNER","OBTAIN_LEASE":"ALLOW_OWNER","GET_USAGE_ALLOCATION":"ALLOW_OWNER","ACTIVATE":"ALLOW_OWNER","REVOKE":"ALLOW_OWNER","DESTROY":"ALLOW_OWNER","ARCHIVE":"ALLOW_OWNER","RECOVER":"ALLOW_OWNER"}}}}
---
apiVersion: v1
kind: Service
metadata:
  name: pykmip-server
spec:
  selector:
    app.kubernetes.io/name: pykmip-server
  ports:
    - protocol: TCP
      port: 5696
      targetPort: 5696
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pykmip-server
  labels:
    app: pykmip-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pykmip-server
  template:
    metadata:
      labels:
        app: pykmip-server
    spec:
      containers:
      - name: pykmip
        image: ubuntu
        command: ["sh", "-c"]
        args:
        - |
          apt-get update -y
          apt-get install -y python3-dev libffi-dev libssl-dev libsqlite3-dev python3-pip 
          pip install pykmip 
          python3 /usr/local/bin/pykmip-server
#          while true; do sleep 30; done
        volumeMounts:
        - name: certs
          readOnly: true
          mountPath: "/etc/certs"
        - name: server-conf
          mountPath: "/etc/pykmip"
        - name: policy
          mountPath: "/etc/pykmip-policies"
      volumes:
      - name: certs
        secret:
          secretName: pykmip-server-certs
      - name: server-conf
        configMap:
          name: pykmip-server-conf
      - name: policy
        configMap:
          name: pykmip-policy
